@mixin card {
  max-width: 426px;
  display: grid;
  animation: appear 1.5s 100ms forwards ease-in-out;

  img {
    @include picture;
  }

  h3 {
    margin: 20px 0 30px;
  }

  a {
    @include button($black-color, none);

    &:hover {
      background: $accent-color;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.2;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}

@mixin picture {
  width: 100%;
  height: 320px;
}

@mixin input {
  min-width: 250px;
  flex: 1;
  background: none;
  outline: none;
  border: none;
  color: $white-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 144.444%;
  border-bottom: 1px solid $grey-color;
  padding: 0 8px;

  &:active {
    border-bottom: 1px solid $accent-color;
  }

  &::placeholder {
    color: $grey-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 144.444%;
  }
}

@mixin button($background, $border) {
  background: $background;
  border: $border;
  color: $white-color;
  text-decoration: none;
  // font-size: 18px;
  font-size: calc(12px + 6 * (100vw / 1920));
  font-weight: 400;
  line-height: 144.444%;
  border-radius: 2px;
  padding: 10px 50px;
  cursor: pointer;
  align-self: end;
  justify-self: start;

  &:hover {
    background: $background;
  }

  @media (min-width: 320px) and (max-width: 767px) {
    font-size: calc(12px + (6 + 6 * 0.7) * ((100vw - 320px) / 1920));
  }
}
